.main{
  background-color: lightgreen;
  grid-area: main;
}

.header{
  background-color: lightsalmon;
  grid-area: header;
}

.footer{
  background-color: darkred;
  grid-area: footer;
}

.sider{
  border-right: solid;
  border-color: darkgray;
  background-color: lightblue;
  grid-area: sider;
  margin-left: 24px;
}

.grid{
  height: 100vh;
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: [header]8% [main]auto [footer]5%;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-areas:
  "header header header header header header"
  "sider sider main main main main"
  "sider sider footer footer footer footer";
}

h4{
  display: inline;
}

.characterName{
  outline: none;
  border: none;
  background-color: white;
}

.modLabel{
  margin-left: 12px;
}
.modifier{
  outline: none;
  border: none;
  background-color: white;
}

hr{
  margin-top: -4px;
}

label{
  margin-right: 5px;
}
.snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 275px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: black; /* Black background color */
    color: white; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 40px;
}

#snackbar1{
  background-color: darkred;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
    visibility: visible; /* Show the snackbar */
    animation: fadein 0.5s, fadeout 1.5s 3.5s;
}

/* Animations to fade the snackbar in and out */

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 40px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 40px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
