.main{
  background-color: lightgray;
  grid-area: main;
}

.header{
  background-color: lightsalmon;
  grid-area: header;
}

.footer{
  background-color: darkred;
  grid-area: footer;
}

.sider{
  border-right: solid;
  border-color: darkgray;
  border-width: .25px;
  background-color: lightblue;
  grid-area: sider;
  padding: 8px;
}
.imageSlider{
  max-width:250px;
  min-width: 125px;
  grid-row-start: leftImage;
  grid-row-end: leftImage;
  height:auto;
}
.leftImage{
  border-left: solid;
  border-color: darkgray;
  border-width:  .25px;
  background-color: lightblue;
  grid-area: leftImage;
}

.grid{
  height: 100vh;
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: [header]8% [main]auto [footer]5%;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-areas:
  "header header header header header header"
  "sider sider main main main leftImage"
  "sider sider footer footer footer footer";
}

h4{
  display: inline;
}

.characterName{
  outline: none;
  border: none;
  background-color: white;
}

.modLabel{
  margin-left: 12px;
}
.modifier{
  outline: none;
  border: none;
  background-color: white;
}

hr{
  margin-top: -4px;
}

label{
  margin-right: 5px;
}

.highlight {
    background-color: lightgreen;
}

.remove {
  display: inline;
}

.ordered{
  background-color: none;
}

/** {box-sizing:border-box}*/

/* Slideshow container */
.slideshow-container {
  width:300px;
  max-width: 320px;
  margin: auto;
}

.wrapper{
      display:block;
}


.hide {
  display: none;
}
